.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .content {
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 1242px;
    flex-direction: column;
  }
  
  @media (max-width: 991px) {
    .content {
      max-width: 100%;
    }
  }
  
  .header {
    display: flex;
    align-items: start;
  }
  
  .logo {
    aspect-ratio: 1.2;
    object-fit: contain;
    object-position: center;
    width: 83px;
  }
  
  .navigation {
    display: flex;
    margin-top: 62px;
    width: 100%;
    align-items: center;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: auto;
  }
  
  @media (max-width: 991px) {
    .navigation {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .brandName {
    color: #000;
    align-self: stretch;
    margin: auto 0;
    font: 700 32px Lato, sans-serif;
  }
  
  .navLinks {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    align-items: center;
    gap: 24px;
    color: #000;
    justify-content: start;
    margin: auto 0;
    font: 400 16px Lato, sans-serif;
  }
  
  .navItem {
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
    justify-content: start;
    margin: auto 0;
  }
  
  @media (max-width: 991px) {
    .navItem {
      white-space: initial;
    }
  }
  
  .navText {
    align-self: stretch;
    margin: auto 0;
  }
  
  .navIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 16px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .searchBar {
    border-radius: 62px;
    background-color: #f0f0f0;
    align-self: stretch;
    display: flex;
    min-width: 240px;
    align-items: start;
    gap: 12px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.4);
    justify-content: start;
    flex-wrap: wrap;
    flex: 1;
    flex-basis: 0%;
    margin: auto 0;
    padding: 12px 16px;
    font: 400 16px Lato, sans-serif;
  }
  
  @media (max-width: 991px) {
    .searchBar {
      max-width: 100%;
    }
  }
  
  .searchIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
  }
  
  .userActions {
    align-self: stretch;
    display: flex;
    align-items: start;
    gap: 14px;
    justify-content: start;
    margin: auto 0;
  }
  
  .actionIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
  }
  
  .divider {
    margin-top: 23px;
    width: 100%;
    height: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .breadcrumb {
    align-self: start;
    display: flex;
    margin-top: 24px;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
    justify-content: start;
    font: 400 16px Lato, sans-serif;
  }
  
  @media (max-width: 991px) {
    .breadcrumb {
      white-space: initial;
    }
  }
  
  .breadcrumbItem {
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 4px;
    color: rgba(0, 0, 0, 0.6);
    justify-content: start;
    margin: auto 0;
  }
  
  @media (max-width: 991px) {
    .breadcrumbItem {
      white-space: initial;
    }
  }
  
  .breadcrumbText {
    align-self: stretch;
    margin: auto 0;
  }
  
  .breadcrumbIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 16px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .pageTitle {
    color: #000;
    align-self: start;
    margin-top: 27px;
    font: 700 40px Lato, sans-serif;
  }
  
  .policyContent {
    margin-top: 65px;
  }
  
  @media (max-width: 991px) {
    .policyContent {
      max-width: 100%;
      margin: 40px 5px 0 0;
    }
  }
  
  .policyLayout {
    gap: 20px;
    display: flex;
  }
  
  @media (max-width: 991px) {
    .policyLayout {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 28%;
    margin-left: 0px;
  }
  
  @media (max-width: 991px) {
    .sidebar {
      width: 100%;
    }
  }
  
  .sidebarContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #000;
    font: 700 24px Lato, sans-serif;
  }
  
  @media (max-width: 991px) {
    .sidebarContent {
      margin-top: 22px;
    }
  }
  
  .sidebarItem {
    align-self: stretch;
  }
  
  .sidebarItem + .sidebarItem {
    margin-top: 32px;
  }
  
  @media (max-width: 991px) {
    .sidebarItem + .sidebarItem {
      margin-top: 40px;
    }
  }
  
  .mainContent {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 72%;
    margin-left: 20px;
  }
  
  @media (max-width: 991px) {
    .mainContent {
      width: 100%;
    }
  }
  
  .policyDetails {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #000;
    font: 400 20px Lato, sans-serif;
  }
  
  @media (max-width: 991px) {
    .policyDetails {
      max-width: 100%;
      margin-top: 25px;
    }
  }
  
  .policySection {
    margin-top: 30px;
  }
  
  @media (max-width: 991px) {
    .policySection {
      max-width: 100%;
    }
  }
  
  .footer {
    background-color: #f0f0f0;
    display: flex;
    margin-top: 56px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 69px 80px;
  }
  
  @media (max-width: 991px) {
    .footer {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  
  .footerContent {
    display: flex;
    width: 100%;
    max-width: 1240px;
    align-items: start;
    gap: 40px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  @media (max-width: 991px) {
    .footerContent {
      max-width: 100%;
    }
  }
  
  .footerBrand {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    font-family: Lato, sans-serif;
    justify-content: start;
    width: 248px;
  }
  
  .footerBrandContent {
    display: flex;
    max-width: 100%;
    width: 248px;
    flex-direction: column;
    justify-content: start;
  }
  
  .footerBrandName {
    color: #000;
    font-size: 32px;
    font-weight: 700;
  }
  
  .footerBrandDescription {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 25px;
  }
  
  .footerBrandLogo {
    aspect-ratio: 5.29;
    object-fit: contain;
    object-position: center;
    width: 148px;
    margin-top: 35px;
    max-width: 100%;
  }
  
  .footerColumn {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font: 16px Lato, sans-serif;
  }
  
  .footerColumnTitle {
    color: #000;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  .footerColumnLinks {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    line-height: 19px;
    margin-top: 26px;
  }
  
  .footerDivider {
    margin-top: 49px;
    width: 1240px;
    max-width: 100%;
    height: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 991px) {
    .footerDivider {
      margin-top: 40px;
    }
  }
  
  .footerBottom {
    display: flex;
    margin-top: 20px;
    width: 100%;
    max-width: 1234px;
    gap: 40px 100px;
    flex-wrap: wrap;
  }
  
  @media (max-width: 991px) {
    .footerBottom {
      max-width: 100%;
    }
  }
  
  .copyright {
    color: rgba(0, 0, 0, 0.6);
    text-align: right;
    margin: auto 0;
    font: 400 14px Lato, sans-serif;
  }
  
  .socialIcons {
    display: flex;
    align-items: end;
    gap: 12px;
    justify-content: start;
    flex: 1;
  }
  
  .socialIcon {
    aspect-ratio: 1.57;
    object-fit: contain;
    object-position: center;
    width: 47px;
    fill: #fff;
    stroke-width: 0.224px;
    stroke: #d6dce5;
    filter: drop-shadow(0px 0.448px 4.482px rgba(183, 183, 183, 0.08)) drop-shadow(0px 4.482px 8.964px rgba(183, 183, 183, 0.08));
  }
  
  .socialIcon:nth-child(2n) {
    aspect-ratio: 1.53;
    width: 46px;
  }