.signin{
    background: #F0F0F0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.signin_container{
    width: 600px;
    height: 136px;
    flex-shrink: 0;
    padding: 0px 20px;
}
.signin_title{
color: #000000;
font-family: Lato;
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 150px;
padding-top: 40px;
}
.normal{

    padding-left: 150px;
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    .container {
        max-width: 1242px;
        margin: 0 auto;
        padding: 0 20px;
        width: 100%;
    }
    .content{
        padding-top:60px;
        padding-left: 64px;
        display: flex;
        margin-bottom: 80px;
    }
    
    .formInfo{
        flex: 0 0 60%;
    }
    .sidebar{
        flex: 0 0 40%;
        padding-top:35px;
        justify-content: center;
        flex-direction: row;
        padding: 35px;
    }
    
    @media (max-width: 991px) {
        .container {
        max-width: 100%;
        }
        
        .content {
        flex-direction: column;
        margin-bottom: 40px;
        }
        
        .sidebar {
        flex: 1;
        }
    }
    
    .form{
    display:grid;
    flex-direction: column;
    gap:15px;
    grid-template-columns: auto 2fr;
    }
    .form_container{
    padding-top: 70px;
    flex-shrink: 0;
    align-items: center;
    }
    .form label{
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: flex-end;
    }
    .form input{
    height: 35px;
    border-radius: 20px;
    opacity: 0.5;
    background: #FFB13A;
    outline: none;
    width: 230px;
    }
    
    .signup_button{
    width: 193px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #D9D9D9;
    justify-items: center;
    align-items: center;
    justify-content: center;
    }
    .signup_content{
        padding:20px;
    justify-items: center;
    align-items: center;
    padding: 17px;
    cursor: pointer;
    }
    .logoContainer {
        display: flex;
        align-items: center;
        gap: 10px; 
        padding-bottom: 35px
    }
    .logo {
        width: 193px;
        height: 163;
        aspect-ratio: 1.2;
        object-fit: contain;
        cursor: pointer;
    }

    .forget {

        font: 400 12px Lato, sans-serif;
        text-align: right; /* Căn phải dòng "Forgot Password?" */
        margin-top: 10px;
        margin-right: 10px; /* Khoảng cách phải hợp lý */
    }
    .forget button {
        background: none;
        border: none;
        color: #333;
        cursor: pointer;
        font-size: 12px;
        padding: 0;
        transition: color 0.5s ease; /* Hiệu ứng hover mượt hơn */
    }