.product_detail{
    display: flex;
    padding: 15px;
    gap:10px;
}
.product_image{
    width: 48%;
}

.product_detail_info{
    width: 48%;
    flex-direction: column;
}

.product_name{
    color: #000;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.content{
    padding-top:60px;
    padding-left: 64px;
    display: flex;
    margin-bottom: 80px;
}

.pic {
    flex: 0 0 50%;
}
.detail{
    flex: 0 0 50%;
}
@media (max-width: 991px) {
    .container {
    max-width: 100%;
    }
    
    .content {
    flex-direction: column;
    margin-bottom: 40px;
    }
    
    .detail {
    flex: 1;
    }
}