.product_detail{
    display: flex;
    padding: 15px;
    gap:10px;
}
.product_image{
    width: 48%;
}

.product_detail_info{
    width: 100%;
    flex-direction: column;
}

.product_name{
    color: #000;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.divider{
    width: 590px;
    height: 1px;
    background: rgba(0, 0, 0, 0.10);
    margin-top: 24px;
    margin-bottom: 24px;
}
.content{
    padding-top:60px;
    padding-left: 64px;
    display: flex;
    margin-bottom: 80px;
}

.pic {
    flex: 0 0 50%;
}
.detail{
    flex: 0 0 50%;
    font: Lato, sans-serif;
}
@media (max-width: 991px) {
    .container {
    max-width: 100%;
    }
    
    .content {
    flex-direction: column;
    margin-bottom: 40px;
    }
    
    .detail {
    flex: 1;
    }
}


.name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-bottom: 15px;
}

.price {
    font-size: 24px;
    margin-top: 12px;
}

.price {
    font-size: 20px;
    text-decoration:wavy;
}

.description {
    margin: 10px 0;
    font-size: 20px;
}

p{
    margin-top:15px;
}

.color{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px ;
    font-size: 20px;
}


.quantity_section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    border-radius: 62px;
    background: #F0F0F0;
}

.quantity_button {
    width: 100px;
    height: 52px;
    border-radius: 50%;

    border: 1px solid #F0F0F0;
    font-size: 16px;
    cursor: pointer;
}

.quantity {
    font-size: 18px;
}

.add_to_rent {
    background-color: #FFB13A;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    height: 52px;
    width: 300px;
}

.add_to_rent:hover {
    background-color: #e69a2a;
}
.Rent{
    display: flex;
    gap:25px;
}
.message {
    position: fixed; /* Đặt vị trí cố định ở giữa màn hình */
    top: 50%; /* Căn giữa theo chiều dọc */
    left: 50%; /* Căn giữa theo chiều ngang */
    transform: translate(-50%, -50%); /* Dịch chuyển để căn giữa chính xác */
    background-color: #FFB13A; /* Màu nền xanh với độ trong suốt */
    color: #fff; /* Màu chữ trắng */
    padding: 1rem 2rem; /* Khoảng cách bên trong */
    border-radius: 10px; /* Bo góc */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
    font-size: 1.2rem; /* Kích thước chữ */
    font-weight: bold; /* Chữ in đậm */
    opacity: 0; /* Ẩn thông báo ban đầu */
    animation: fadeInOut 3s ease-in-out; /* Hiệu ứng xuất hiện và biến mất */
    z-index: 1000; /* Hiển thị trên cùng */
  }