.homemain {
    position: relative;
    width: 100%;
    height: 656px;
    overflow: hidden; /* Đảm bảo phần tử không bị tràn ra ngoài */
}

.backgroundLayer {
    position: absolute; /* Đảm bảo nền nằm dưới */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Đặt nền phía dưới nội dung */
    transition: opacity 2s ease; /* Hiệu ứng mờ mượt mà */
}

.mainContent {
    position: relative; /* Để nội dung không bị ảnh hưởng bởi z-index */
    padding-left: 103px;
    padding-top: 69px;
    width: 480px;
    color: #000;
    font-family: Lato;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
}

.content {
    width: 545px;
    padding-left: 103px;
    padding-top: 27px;
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.paddingButton {
    padding-top: 60px;
}

.rentButton {
    display: flex;
    width: 210px;
    height: 52px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 62px;
    background-color: #FFB13A;
}

.rentContent {
    padding: 16px 54px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.rentContent:hover {
    transform: scale(1.1);
}

.statistic {
    padding-top: 30px;
    padding-left: 103px;
    display: inline-flex;
    align-items: center;
    gap: 32px;
}

.column {
    flex-direction: column;
}

.data {
    color: #000;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dataContent {
    color: rgba(0, 0, 0, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.divider {
    width: 1px;
    height: 68px;
    background: rgba(0, 0, 0, 0.10);
}

.bold {
    color: #000;
    font-family: Lato;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    display: inline;
}

.containerC {
    white-space: nowrap;
}
