/* HotItem.module.css */

/* Existing styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 35px;
    margin-bottom: 20px;
}

.title {
    white-space: nowrap;
    color: #000;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    padding-top: 72px;
    padding-bottom: 55px;
}

.bold {
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline;
}

.productContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;

    border-radius: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
    background: #FFB13A;
}
.productContainer:hover {
    transform: scale(1.05);
    background-color: #f89d15;
}


.product{
    display: flex;
    gap: 20px;
    
}/* HotItem.module.css */

/* Căn chỉnh thẻ chứa sản phẩm */
.productFrame {
    width: 290px;
    height: 290px;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    flex-direction: column; /* Hiển thị nội dung theo cột */
    padding: 20px; /* Tinh chỉnh khoảng cách bên trong */
    flex-shrink: 0;
    border-radius: 20px;

    transition: transform 0.3s ease;
    cursor: pointer;
    overflow: hidden; /* Ẩn phần hình ảnh bị tràn ra */
    position: relative; /* Để đảm bảo các phần tử con nằm chính xác */
}

/* Hình ảnh sản phẩm */
.productImage {
    max-width: 250px; /* Đảm bảo không vượt quá chiều ngang khung */
    max-height: 250px; /* Đảm bảo không vượt quá chiều cao khung */
    object-fit: cover; /* Đảm bảo hình ảnh không bị méo và giữ nguyên tỷ lệ */
    display: block;
    transition: transform 0.3s ease;
    margin: auto; /* Đảm bảo căn giữa */
}

/* Thông tin sản phẩm */
.productInfo {
    text-align: center;
    margin-bottom: 15px;
}

/* Hiệu ứng khi hover vào sản phẩm */
.productFrame:hover {
    transform: scale(1.05);
}


/* Show overlay on hover */

.viewAll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the button horizontally */
    border-radius: 62px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    width: 218px;
    height: 52px;
    margin-top: 20px; /* Add space above the button */
    cursor: pointer;
}


.view_all_content {
    padding: 16px 54px;
    align-items: center;
    gap: 12px;

}
.viewAll:hover{
    background-color: #f0f0f0;
}
